[data-theme="light"] {
  --accent-color: #F42222;
  --body-bg-color: linear-gradient(#dadada, #f0f0f0);
  --box-shadow: -3px -3px 4px #ffffff, 3px 3px 4px #cacfd2;
  --box-shadow-hover: 1px -1px 4px #cacfd2, -1px 1px 4px #ffffff;
  --box-shadow-inner: 3px -3px 4px #cacfd2, -3px 3px 4px #ffffff;
  --main-bg-color: #f5f6f7;
  --main-color: #64696d;
}

[data-theme="dark"] {
  --accent-color: #42C636;
  --body-bg-color: linear-gradient(#2c3e50, #34495e);
  --box-shadow: -3px -3px 4px #cacfd245, 3px 3px 4px #000000;
  --box-shadow-hover: 1px -1px 4px #000000, -1px 1px 4px #cacfd245;
  --box-shadow-inner: 3px -3px 4px #000000, -3px 3px 4px #cacfd245;
  --main-bg-color: #303B47;
  --main-color: #635b5b;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  background: var(--body-bg-color);
}

.calculator {
  background-color: var(--main-bg-color);
  border-radius: 1.875em;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  height: 700px; /* Fixed height */
  width: 400px; /* Fixed width */
  padding: 13px 8px; /* Padding inside calculator */
}

.screen {
  display: flex;
  flex-direction: column; /* Stack operation and total */
  justify-content: flex-end; /* Align contents to the bottom */
  padding: 8px;
}

.keyboard {
  background-color: var(--main-bg-color); /* Add background color to keyboard */
  border: 2px solid var(--accent-color); /* Add border */
  border-radius: 10px; /* Round corners of the keyboard */
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(5, 80px); /* 5 rows */
  height: 100%;
  justify-items: center; /* Center items horizontally in each cell */
  align-items: center; /* Center items vertically in each cell */
  margin-top: auto; /* Push the keyboard to the bottom */
  padding: 8px; /* Add some padding around buttons */
}

.key {
  align-items: center;
  border-radius: 50%;
  background-color: #fff; /* Set button background */
  box-shadow: var(--box-shadow);
  color: var(--main-color);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  height: 60px; /* Button height */
  width: 60px; /* Button width */
  justify-content: center; /* Center text inside button */
}

.key:hover {
  box-shadow: var(--box-shadow-hover);
  transform: scale(0.98); /* Slightly reduce scale on hover */
}

.key:active {
  box-shadow: var(--box-shadow-inner);
  transform: scale(0.95); /* Further reduce scale on active */
}

.total {
  color: var(--accent-color);
  font-size: 45px;
}

.operation {
  font-size: 15px;
  color: var(--main-color);
  margin-top: 10px;
  min-height: 18px;
}

.topbar {
  align-items: center;
  display: flex;
  color: var(--main-color);
  font-size: 13px;
  justify-content: flex-end;
  margin: 0 15px;
}

.time {
  margin-right: auto; /* Align time to the left */
}

.theme-mode {
  align-items: flex-end;
  display: flex;
}

.theme-input {
  display: none; /* Hide default checkbox */
}

.theme-label {
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  padding: 3px;
  position: relative;
  width: 25px;
}

.theme-label:active {
  box-shadow: var(--box-shadow-inner);
}

.theme-label:hover {
  box-shadow: var(--box-shadow-hover);
}

.theme-input:checked + .theme-label {
  box-shadow: var(--box-shadow);
}

.theme-input:checked + .theme-label:active {
  box-shadow: var(--box-shadow-inner);
}

.theme-input:checked + .theme-label:hover {
  box-shadow: var(--box-shadow-hover);
}

.theme-label svg {
  fill: var(--accent-color);
}

.theme-label:hover svg {
  transform: scale(0.95);
}
